<!DOCTYPE html>
<html>
<head>
  <title>JavascriptExplorerRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">

<h1>
  <%= yield :heading %>
</h1>

<div class="row">
  <div class="col-md-3">
    <ul class="list-group col-md-12">
      <li id="home" class="list-group-item">
        <%= link_to_unless_current "Home", {controller: "welcome", action: "index"} %>
        <span class="view_count badge"></span>
      </li>
      <li id="gold" class="list-group-item">
        <%= link_to "Gold", gold_path %>
        <span class="view_count badge"></span>
      </li>
      <li id="coral" class="list-group-item">
        <%= link_to "Coral", coral_path %>
        <span class="view_count badge"></span>
      </li>
      <li id="seagreen" class="list-group-item">
        <%= link_to "Seagreen", seagreen_path %>
        <span class="view_count badge"></span>
      </li>
    </ul>
  </div>
  <div class="well col-md-8 col-md-offset-1">
    <%= yield %>
  </div>
</div>



</body>
</html>
